[Unit]
Description=Announce build_1
BindsTo=build.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/build/build_1 '{ \"host\": \"%H\", \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/build/build_1

[X-Fleet]
X-ConditionMachineOf=build.1.service
